{% extends 'store/main.html' %}
{% load static %}

{% block content%}
<section class="u-align-center u-clearfix u-section-1" id="carousel_0941">
    <div class="u-clearfix u-sheet u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
      <div class="u-container-style u-expanded-width u-product u-product-1">
        <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1"><!--product_image-->
          <img alt="" class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-product-control u-image-1" src="{{ product.imageURL }}"><!--/product_image-->
          <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
              <div class="u-border-3 u-border-palette-4-base u-line u-line-horizontal u-line-1"></div><!--product_title-->
              <h2 class="u-custom-font u-font-merriweather u-product-control u-text u-text-1">
                <a class="u-product-title-link" href="#">{{ product.name }}</a>
              </h2><!--/product_title--><!--product_price-->
              <div class="u-custom-font u-font-merriweather u-product-control u-product-price u-product-price-1">
                <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                  <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;" wfd-invisible="true"><!--product_old_price_content-->$12</div>
                  <div class="u-price u-text-palette-4-base" style="font-size: 1.5rem; font-weight: 700;">${{ product.price }}</div>
                </div>
              </div><!--/product_price--><!--product_content-->
              <div class="u-product-control u-product-desc u-text u-text-default u-text-2"><!--product_content_content-->
                <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p><!--/product_content_content-->
              </div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
              <a id= "detail_cart_btn"  data-product= "{{product.id}}" data-action= "add" href="" class="u-btn u-button-style u-hover-grey-75 u-palette-4-base u-product-control u-btn-1 update-cart">Add to Cart</a>
            </div>
          </div>
        </div>
      </div><!--/product_item--><!--/product-->
    </div>
</section>
<!-- <script src="{% static 'js/product_detail.js' %}"></script> -->

<!-- <script>
  let DetailCartBtn = document.getElementById("detail_cart_btn_{{product.id}}");
  console.log(DetailCartBtn)
  console.log('id: {{product.id}}')
  let productId = "{{product.id}}"
  let action = "add"

  DetailCartBtn.addEventListener('click', function(e){
      e.preventDefault()
      renderCart(productId, action)
  })

  // get cartItems from api 
  async function renderCart(productId, action){
    let cartTotal = document.getElementById('cart-total')

    if (user === 'AnonymousUser'){

      await addCookieItem(productId, action)
      console.log('AnonymousUser')

    } else {

      // 等待更新 Order 資訊後才執行以下的程式
      await updateUserOrder(productId, action)

      // get 更新後的 order 總數，並更新 cart 的 innerText 
      let url = 'http://127.0.0.1:8000/api/order-detail/{{order.id}}'
      console.log(cartTotal)
      fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
      })
      .then((res) => {
        return res.json()
      })
      .then((data) => {
        console.log('fetch order data success:', data)
        cartTotal.innerText = data['get_cart_items']
      })
    }
  }
</script> -->
{% endblock%}