{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="contact-header" class="page-header">
        <h2>#聯絡我們</h2>
    </section>

    <section id="contact" class="form-detail">
        <form action="" method="POST">
            {% csrf_token %}
            <span>留下你的寶貴意見!</span>
            <!-- <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea> -->
            {{ form }}
            <button class="normal">送出</button>
        </form>
    </section>
{% endblock content %}