{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="register" class="form-detail">
        <h2>Register</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <!-- <span>帳號</span>
            <input type="text" required placeholder="你的帳號">
            <span>密碼</span>
            <input type="password" required placeholder="你的密碼"> -->
            <!-- <span>確認密碼</span>
            <input type="password" required placeholder="再輸入一次密碼"> -->
            <button class="normal">Register</button>
        </form>
        <h4>Have an account？<a href="{% url 'login' %}">Sign in right now!</a></h4>
    </section>
{% endblock content %}