{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="header">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}" class="navbtn">Home</a></li>
                <li><a href="{% url 'shop' %}" class="navbtn">Shop</a></li>
                <li><a href="{% url 'contact' %}" class="navbtn">Contact</a></li>
                <li><a href="{% url 'cart' %}" class="navbtn"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{% url 'login' %}" class="navbtn active"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="login" class="form-detail">
        <h2>LOGIN</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <span>USERNAME</span>
            <input type="text" name= "username" required placeholder="YOUR USERNAME">
            <span>PASSWORD</span>
            <input type="password" name= "password" required placeholder="YOUR PASSWORD">
            <button class="normal">LOGIN</button>
        </form>
        <h4>Haven't had an account yet?<a href="{% url 'register' %}">Sign Up right now!</a></h4>
    </section>
{% endblock content %}