{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="header">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}" class="navbtn">Home</a></li>
                <li><a href="{% url 'shop' %}" class="navbtn">Shop</a></li>
                <li><a href="{% url 'contact' %}" class="navbtn">Contact</a></li>
                <li><a href="{% url 'cart' %}" class="navbtn"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{% url 'login' %}" class="navbtn active"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="register" class="form-detail">
        <h2>Register</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <!-- <span>帳號</span>
            <input type="text" required placeholder="你的帳號">
            <span>密碼</span>
            <input type="password" required placeholder="你的密碼"> -->
            <!-- <span>確認密碼</span>
            <input type="password" required placeholder="再輸入一次密碼"> -->
            <button class="normal">Register</button>
        </form>
        <h4>Have an account？<a href="{% url 'login' %}">Sign in right now!</a></h4>
    </section>
{% endblock content %}