{% extends 'index.html' %}
{% load static %}
{% block content %}
    <section id="contact-header" class="page-header">
        <h2>#Let's Talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="cart" class= "section-p1">
        <table width= "100%">
            <thead> 
                <tr>
                    <td>Remove</td> <!-- table heading, row, data -->
                    <td>照片</td>
                    <td>產品名稱</td>
                    <td>價格</td>
                    <td>數量</td>
                    <td>Subtotal</td> 
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><a href=""><i class= "far fa-times-circle"></i></a></td>
                    <td><img src="{{ item.product.imageURL }}" alt=""></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td><input type="number" min="1" max= "99" value="{{item.quantity}}" class="update-cart" data-item= {{item.id}} data-product= "{{item.product.id}}"></td>
                    <td data-product="{{item.product.id}}" class="subtotal">${{ item.get_total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><a href=""><i class= "far fa-times-circle"></i></a></td>
                    <td><img src="{% static 'images/products/f1.jpg' %}" alt=""></td>
                    <td>African T-shirts Some Text Some Text Some Text</td>
                    <td>$118.19</td>
                    <td><input type="number" min="1" max= "99" value="1"></td>
                    <td>$118.19</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class= "section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div id="coupon-input-area">
                <input type="text" placeholder="Enter Your Coupon">
                <a href= "" class="button">Apply</a>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td id="cart-total" >$ {{order.get_cart_total}}</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$ {{order.get_cart_total}}</strong></td>
                </tr>
            </table>
            <a href="{% url 'checkout' %}" class="button">Proceed To Checkout</a>
            <!-- <button class= "normal"></button> -->
        </div>
    </section>
{% endblock content %}