{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="header">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}" class="navbtn">Home</a></li>
                <li><a href="{% url 'shop' %}" class="navbtn">Shop</a></li>
                <li><a href="{% url 'contact' %}" class="navbtn">Contact</a></li>
                <li><a href="{% url 'cart' %}" class="navbtn active"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{% url 'login' %}" class="navbtn"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="cart-header" class="page-header">
        <h2>#Let's Shop!</h2>
        <p>Go get those cool gears!</p>
    </section>

    <section id="cart" class= "section-p1">
        <table width= "100%">
            <thead> 
                <tr>
                    <td>Remove</td> <!-- table heading, row, data -->
                    <td>照片</td>
                    <td>產品名稱</td>
                    <td>價格</td>
                    <td>數量</td>
                    <td>Subtotal</td> 
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class= "cart-row" data-product= "{{item.product.id}}">
                    <td class="cart-delete" data-product= "{{item.product.id}}" data-item= "{{item.id}}"><a href=""><i class= "far fa-times-circle"></i></a></td>
                    <td><img src="{{ item.product.imageURL }}" alt=""></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td><input type="number" min="1" max= "99" value="{{item.quantity}}" class="update-cart" data-item= {{item.id}} data-product= "{{item.product.id}}"></td>
                    <td data-product="{{item.product.id}}" class="subtotal">${{ item.get_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="cart-add" class= "section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div id="coupon-input-area">
                <input type="text" placeholder="Enter Your Coupon" name="code" class="coupon-input">
                <a href= "#" class="button coupon-btn">Apply</a>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td id="cart-total" >$ {{order.get_cart_total}}</td>
                </tr>
                <tr>
                    <td>Shipping Fee</td>
                    <td id="cart-shipping">$ {{order.shipping_fee}}</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td id="cart-total-final"><strong>$ {{order.get_cart_total_final}}</strong></td>
                </tr>
            </table>
            <a href="{% url 'checkout' %}" class="button">Proceed To Checkout</a>
            <!-- <button class= "normal"></button> -->
        </div>
    </section>

    <section id= 'viewed-product', class="section-p1">
        <h2>Products that You Recently Viewed</h2>
        <div class="product-container">
        {% for product in products %}
            <div class="product">
                <a href="{% url 'product_detail' pk=product.id %}" class="clickable"></a>
                <img src="{{ product.imageURL }}" alt="">
                <div class="description">
                    <span>{{product.category}}</span>
                    <h5>{{product.name}}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>${{product.price}}</h4>
                </div>
                <a href="{% url 'product_detail' pk=product.id %}" data-product="{{product.id}}" data-action="add" data-quantity= getItemQauntity(input_tag_id) class="add-to-cart update-quantity"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock content %}