{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="header">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}" class="navbtn">Home</a></li>
                <li><a href="{% url 'shop' %}" class="navbtn">Shop</a></li>
                <li><a href="{% url 'contact' %}" class="navbtn active">Contact</a></li>
                <li><a href="{% url 'cart' %}" class="navbtn"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{% url 'login' %}" class="navbtn"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="contact-header" class="page-header">
        <h2>#Let's Talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="contact" class="form-detail">
        <form action="" method="POST">
            {% csrf_token %}
            <span>LEAVE A MESSAGE</span>
            <h4>WE WOULD LOVE TO HEAR FROM YOU!</h4>
            <!-- <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea> -->
            {{ form }}
            <button class="normal">Submit</button>
        </form>
    </section>
{% endblock content %}