{% extends 'index.html' %}
{% load static %}
{% block content %}
<section id="hero">
    <h4>h4</h4>
    <h2>h2</h2>
    <h1>h1</h1>
    <p>p</p>
    <button>Shop Now</button>
</section>

<section id= 'feature' class= "section-p1">
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'images/features/f1.png' %}" alt="">
        <h6>Free Shipping</h6>
    </div>
</section>

<section id= 'featured-product', class="section-p1">
    <h2>Featured Products</h2>
    <p>Exotic Collections ALL OVER THE WORLD</p>
    <div class="product-container">
    {% for product in products %}
        <div class="product">
            <a href="{% url 'product_detail' pk=product.id %}" class="clickable"></a>
            <img src="{{ product.imageURL }}" alt="">
            <div class="description">
                <span>{{product.category}}</span>
                <h5>{{product.name}}</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>${{product.price}}</h4>
            </div>
            <a href="{% url 'product_detail' pk=product.id %}" data-product="{{product.id}}" data-action="add" data-quantity= getItemQauntity(input_tag_id) class="add-to-cart update-quantity"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
    {% endfor %}
    </div>
</section>

<section id="banner" class= "seciton-m1">
    <h4>Special Offer</h4>
    <h2>up to <span>70% Off</span> - All t-shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<section id="sm-banner" class= "section-p1">
    <div class= "banner-box">
        <h4>Crazy Deals</h4>
        <h2>Buy 1 get 1 free</h2>
        <span>The best collections ever</span>
        <button class="normal">Learn More</button>
    </div>
    <div class= "banner-box">
        <h4>Crazy Deals</h4>
        <h2>Buy 1 get 1 free</h2>
        <span>The best collections ever</span>
        <button class="normal">Learn More</button>
    </div>
</section>

{% endblock content %}