{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="header">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}" class="navbtn">Home</a></li>
                <li><a href="{% url 'shop' %}" class="navbtn active">Shop</a></li>
                <li><a href="{% url 'contact' %}" class="navbtn">Contact</a></li>
                <li><a href="{% url 'cart' %}" class="navbtn"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="{% url 'login' %}" class="navbtn"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="product-detail" class="section-p1">
        <div class="single-product-img">
            <img src="{{ product.imageURL }}" width= "100%" class= "main-img" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{% static 'images/products/f1.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f2.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f3.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f4.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
            </div>
        </div>

        <div class="single-product-detail">
            <h6>Home/ {{ product.category }}</h6>
            <h4>{{ product.name }}</h4>
            <h2>${{ product.price }}</h2>
            <select name="" id="">
                <option value="">S</option>
                <option value="">M</option>
                <option value="">L</option>
            </select>
            <input id= 'item-quantity-input' type="number" value="1">
            <a href="{% url 'product_detail' pk=product.id %}" data-product="{{product.id}}" data-action="add" data-quantity="1" class="add-to-cart update-quantity button">Add To Cart</a>
            <h4>Product Details</h4>
            <span>{{ product.description }}</span>
        </div>
    </section>

{% endblock content %}