{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="product-detail" class="section-p1">
        <div class="single-product-img">
            <img src="{% static 'images/products/f1.jpg' %}" width= "100%" class= "main-img" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{% static 'images/products/f1.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f2.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f3.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'images/products/f4.jpg' %}" width= "100%" class= "small-img" alt="">
                </div>
            </div>
        </div>

        <div class="single-product-detail">
            <h6>Home/ T-Shirt</h6>
            <h4>African T-Shirt</h4>
            <h2>$97</h2>
            <select name="" id="">
                <option value="">S</option>
                <option value="">M</option>
                <option value="">L</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>qseoqeuqkbsbqjdbqud</span>
        </div>
    </section>

{% endblock content %}