{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="shop-header" class="page-header" >
        <h2>#Stay Home</h2>
        <p>Get All the exotic collections!</p>
    </section>

    <section id= "shop-section" class= "section-p1">
        <div id="category">
            <h2>商品類別</h2>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action">全部</button>
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">服裝</button>
                <button type="button" class="list-group-item list-group-item-action">電子產品</button>
                <button type="button" class="list-group-item list-group-item-action">一般</button>
            </div>
        </div>
        <div id= "shop-product" class="product-container">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.imageURL }}" alt="">
                <div class="description">
                    <span>{{ product.category }}</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>${{ product.price }}</h4>
                </div>
                <a href="#" class=""><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
    </section>

    <section id="pagination" class= "section-p1">
        <a href="" class="">1</a>
        <a href="" class="">2</a>
        <a href="" class=""><i class="fa-solid fa-arrow-right-long"></i></a>
    </section>

{% endblock content %}